@import url(./navbar.css);
@import url(./main.css);

.container {
  width: 90%;
  margin: 0 auto;
}
.footer {
  margin-top: var(--margin-large);
  padding: var(--padding-md);
  height: max-content;
}
.footer-actions li {
  margin: 0 var(--margin-sm);
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
