<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30e8ebdaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Css/primary.css">
    <link rel="stylesheet" href="../../Components/component.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar flex-row-spc-btw">
            <div class="nav-header">
                <h1 class="nav-logo"><a href="./index.html"></a>dynoCss</h1>
            </div>
            <nav class="nav-actions">
                <ul class="flex-row-spc-btw">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                </ul>
            </nav>
        </div>
        <hr class="hr">
        <div class="grid-doc-layout">
            <main class="main">
                <div class="component-intro">
                    <h2>Cards</h2>
                    <p>Bootstrap’s cards provide a flexible and extensible content container with multiple variants and
                        options.</p>
                </div>

                <div class="componet-sub-heading">
                    <h3>Example</h3>
                    <p>Cards are built with as little markup and styles as possible, but still manage to deliver a ton
                        of control and customization. Built with flexbox, they offer easy alignment and mix well with
                        other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                    </p>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="card-image">
                                <img src="../Assets/download (2).jpg" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Click</a>
                        </div>
                    </div>
                </div>

                <div class="componet-sub-heading">
                    <h3>Titles, text, and links</h3>
                    <p>Card titles are used by adding .card-title to a <h*> tag. In the same way, links are added and
                            placed next to each other by adding .card-link to an <a> tag.
                    </p>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle">Card Subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="card-link">Click</a>
                            <a href="#" class="card-link">Another Link</a>
                        </div>
                    </div>
                </div>


                <div class="componet-sub-heading">
                    <h3>Images</h3>
                    <p>.card-img-top places an image to the top of the card. With .card-text, text can be added to the
                        card. Text within .card-text can also be styled with the standard HTML tags.
                    </p>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="card-image">
                                <img src="../Assets/download (2).jpg" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>


                <div class="componet-sub-heading">
                    <h3>List groups</h3>
                    <p>Create lists of content in a card with a flush list group.</p>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An Item</li>
                            <li class="list-group-item">A Second Item</li>
                            <li class="list-group-item">A third Item</li>
                        </ul>
                    </div>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Featured
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An Item</li>
                            <li class="list-group-item">A Second Item</li>
                            <li class="list-group-item">A third Item</li>
                        </ul>
                    </div>
                </div>

                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An Item</li>
                            <li class="list-group-item">A Second Item</li>
                            <li class="list-group-item">A third Item</li>
                        </ul>
                        <div class="card-footer">
                            Card footer
                        </div>
                    </div>
                </div>


                <div class="componet-sub-heading">
                    <h3>Kitchen sink </h3>
                    <p>Mix and match multiple content types to create the card you need, or throw everything in there.
                        Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width
                        card.</p>
                </div>


                <div class="component-code-examples">
                    <div class="card" style="width: 18rem;">
                        <div class="card-image">
                            <img src="../Assets/download (2).jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An Item</li>
                            <li class="list-group-item">A Second Item</li>
                            <li class="list-group-item">A third Item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Click</a>
                            <a href="#" class="card-link">Another Link</a>
                        </div>
                    </div>
                </div>


                <div class="componet-sub-heading">
                    <h3>Header and footer </h3>
                    <p>Add an optional header and/or footer within a card.</p>
                </div>


                <div class="component-code-examples">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary"> Go Somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="component-code-examples">
                    <div class="card txt-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary"> Go Somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            Card footer
                        </div>
                    </div>
                </div>

                <!-- Cards in  Grid yet to be finish  -->

            </main>
        </div>
        <hr class="hr">

        <footer class="footer flex-row-spc-btw">
            <p>Paul Micheal</p>
            <nav class="footer-actions">
                <ul class="flex-row-center-center">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                    <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                    <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>