<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30e8ebdaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Css/primary.css">
    <link rel="stylesheet" href="../../Components/component.css">
    <title>Input | dynoCss</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar flex-row-spc-btw">
            <div class="nav-header">
                <h1 class="nav-logo"><a href="./index.html"></a>dynoCss</h1>
            </div>
            <nav class="nav-actions">
                <ul class="flex-row-spc-btw">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                </ul>
            </nav>
        </div>
        <hr class="hr">
        <div class="grid-doc-layout">
            <main class="main">
                <div class="component-intro">
                    <h2>Input group</h2>
                    <p>Easily extend form controls by adding text, buttons, or button groups on either side of textual
                        inputs, custom selects, and custom file inputs.</p>
                </div>

                <div class="componet-sub-heading">
                    <h3>Basic example</h3>
                    <p>Place one add-on or button on either side of an input. You may also place one on both sides of an
                        input. Remember to place <label>s outside the input group.</p>
                </div>

                <div class="component-code-examples">
                    <div class="input-group mb-3">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control">
                        <span class="input-group-text">@gmail.com</span>
                    </div>
                </div>
                <div class="component-code-wrapper">
                </div>

                <div class="componet-sub-heading">
                    <h3>Custom file input </h3>
                    <!-- <p> </p> -->
                </div>

                <div class="component-code-examples">
                    <div class="input-group mb-3">
                        <label for="" class="input-group-text">Upload</label>
                        <input type="file" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control">
                        <label for="" class="input-group-text">Upload</label>
                    </div>
                </div>
                <div class="component-code-wrapper">
                </div>
            </main>
        </div>
        <hr class="hr">

        <footer class="footer flex-row-spc-btw">
            <p>Paul Micheal</p>
            <nav class="footer-actions">
                <ul class="flex-row-center-center">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                    <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                    <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>