<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30e8ebdaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Css/primary.css">
    <link rel="stylesheet" href="../../Components/component.css">
    <title>Slider | dynoCss </title>
</head>

<body>
    <div class="container">
        <div class="nav-bar flex-row-spc-btw">
            <div class="nav-header">
                <h1 class="nav-logo"><a href="./index.html"></a>dynoCss</h1>
            </div>
            <nav class="nav-actions">
                <ul class="flex-row-spc-btw">
                    <li>
                        <i class="fa-brands fa-2x fa-github"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <hr class="hr">
        <div class="grid-doc-layout">
            <main class="main">
                <div class="component-intro">
                    <h2>Range</h2>
                    <p>Use our custom range inputs for consistent cross-browser styling and built-in customization.</p>
                </div>
                <div class="componet-sub-heading">
                    <h3>Headings</h3>
                </div>
                <div class="component-code-examples">
                    <label for="" class="from-label">Example Range</label>
                    <input type="range" class="form-range slider">
                </div>
                <div class="component-code-wrapper">
                </div>
            </main>
        </div>
        <hr class="hr">

        <footer class="footer flex-row-spc-btw">
            <p>Paul Micheal</p>
            <nav class="footer-actions">
                <ul class="flex-row-center-center">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                    <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                    <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>