<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30e8ebdaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Css/primary.css">
    <link rel="stylesheet" href="../../Components/component.css">
    <title>Button | dynoCss</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar flex-row-spc-btw">
            <div class="nav-header">
                <h1 class="nav-logo"><a href="./index.html"></a>dynoCss</h1>
            </div>
            <nav class="nav-actions">
                <ul class="flex-row-spc-btw">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                </ul>
            </nav>
        </div>
        <hr class="hr">
        <div class="grid-doc-layout">
            <main class="main">
                <div class="component-intro">
                    <h2>Buttons</h2>
                    <p>Documentation and examples for buttons, our small count and labeling component.</p>
                </div>


                <div class="componet-sub-heading">
                    <h3>Headings</h3>
                    <p>Bootstrap includes several predefined button styles, each serving its own semantic purpose, with
                        a few extras thrown in for more control.</p>
                </div>

                <div class="component-code-examples">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-secondary">Secondary</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-light">Light</button>
                    <button class="btn btn-dark">Dark</button>
                </div>

                <div class="componet-sub-heading">
                    <h3>Button tags</h3>
                    <p>
                        When using button classes on <code>&lt;a&gt;</code> elements that are used to trigger in-page
                        functionality (like collapsing content), rather than linking to new pages or sections within the
                        current page, these links should be given a <code>role="button"</code> to appropriately convey
                        their purpose to assistive technologies such as screen readers.
                    </p>
                </div>


                <div class="component-code-examples">
                    <a class="btn btn-primary" href="#" role="button">Link</a>
                    <button class="btn btn-primary" type="submit">Button</button>
                    <input class="btn btn-primary" type="button" value="Input">
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <input class="btn btn-primary" type="reset" value="Reset">
                </div>


                <div class="componet-sub-heading">
                    <h3>Outline buttons</h3>
                    <p>
                        In need of a button, but not the hefty background colors they bring? Replace the default
                        modifier
                        classes with the .btn-outline-* ones to remove all background images and colors on any button.
                    </p>
                </div>

                <div class="component-code-examples">
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>


                <div class="componet-sub-heading">
                    <h3>Sizes</h3>
                    <p>
                        Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes.
                    </p>
                </div>

                <div class="component-code-examples">
                    <button type="button" class="btn btn-primary btn-lg">Primary</button>
                    <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
                </div>


                <div class="component-code-examples">
                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                    <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
                </div>


                <div class="componet-sub-heading">
                    <h3>Disabled states</h3>
                    <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any
                        <code>&lt;button&gt;</code> element. Disabled buttons have <code>pointer-events: none</code>
                        applied to, preventing hover and active states from triggering.
                    </p>
                </div>


                <div class="component-code-examples">
                    <button type="button" class="btn btn-lg btn-primary" disabled>Primary</button>
                    <button type="button" class="btn btn-lg btn-secondary" disabled>Secondary</button>
                </div>


            </main>
        </div>
        <hr class="hr">

        <footer class="footer flex-row-spc-btw">
            <p>Paul Micheal</p>
            <nav class="footer-actions">
                <ul class="flex-row-center-center">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                    <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                    <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>