.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.bg-secondary {
  background-color: dimgrey;
}

.bg-primary {
  background-color: #cfe2ff;
  border: 1px solid #b6d4fe;
  color: #084298;
}
.bg-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.bg-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.bg-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.bg-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.bg-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.bg-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.bg-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
