<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30e8ebdaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Css/primary.css">
    <link rel="stylesheet" href="../../Components/component.css">
    <title>Bagde | dynoCss</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar flex-row-spc-btw">
            <div class="nav-header">
                <h1 class="nav-logo"><a href="./index.html"></a>dynoCss</h1>
            </div>
            <nav class="nav-actions">
                <ul class="flex-row-spc-btw">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                </ul>
            </nav>
        </div>
        <hr class="hr">
        <div class="grid-doc-layout">
            <main class="main">
                <div class="component-intro">
                    <h2>Badges</h2>
                    <p>Documentation and examples for badges, our small count and labeling component.</p>
                </div>

                <div class="componet-sub-heading">
                    <h3>Headings</h3>
                </div>

                <div class="component-code-examples">
                    <h1>Example Heading <span class="badge bg-secondary">New</span></h1>
                    <h2>Example Heading <span class="badge bg-secondary">New</span></h2>
                    <h3>Example Heading <span class="badge bg-secondary">New</span></h3>
                    <h4>Example Heading <span class="badge bg-secondary">New</span></h4>
                    <h5>Example Heading <span class="badge bg-secondary">New</span></h5>
                </div>
                <div class="component-code-wrapper">
                </div>

                <div class="componet-sub-heading">
                    <h3>Button</h3>
                    <p>Badges can be used as part of links or buttons to provide a counter.</p>
                </div>

                <div class="component-code-examples">
                    <button class="btn btn-primary">Notification <span class="badge bg-secondary">7</span></button>
                </div>

                <div class="component-code-wrapper">
                </div>


                <div class="componet-sub-heading">
                    <h3>Positioned</h3>
                    <p>Use utilities to modify a .badge and position it in the corner of a link or button.</p>
                </div>

                <div class="component-code-examples">
                    <button class="btn btn-primary position-relative">Inbox
                        <span class="badge bg-secondary position-absolute top-0 start-100 translate-middle">
                            7
                        </span>
                    </button>
                </div>

                <div class="component-code-wrapper">
                </div>

                <div class="componet-sub-heading">
                    <h3>Background colors</h3>
                    <p>Use our background utility classes to quickly change the appearance of a badge. Please note that
                        when using Bootstrap’s default .bg-light, you’ll likely need a text color utility like
                        .text-dark for proper styling. This is because background utilities do not set anything but
                        background-color.</p>
                </div>

                <div class="component-code-examples">
                    <span class="badge bg-primary ">
                        Primary
                    </span>
                    <span class="badge bg-secondary">
                        Secondary
                    </span>
                    <span class="badge bg-success ">
                        Sucess
                    </span>
                    <span class="badge bg-danger">
                        Danger
                    </span>
                    <span class="badge bg-warning ">
                        Warning
                    </span>
                    <span class="badge bg-info">
                        Info
                    </span>
                    <span class="badge bg-light ">
                        Light
                    </span>
                    <span class="badge bg-dark">
                        Dark
                    </span>
                </div>

                <div class="component-code-wrapper">
                </div>

                <div class="componet-sub-heading">
                    <h3>Pill badges</h3>
                    <p>Use the .rounded-pill utility class to make badges more rounded with a larger border-radius.</p>
                </div>

                <div class="component-code-examples">
                    <span class="badge bg-primary rounded-pill">
                        Primary
                    </span>
                    <span class="badge bg-secondary rounded-pill">
                        Secondary
                    </span>
                    <span class="badge bg-success rounded-pill">
                        Sucess
                    </span>
                    <span class="badge bg-danger rounded-pill">
                        Danger
                    </span>
                    <span class="badge bg-warning rounded-pill">
                        Warning
                    </span>
                    <span class="badge bg-info rounded-pill">
                        Info
                    </span>
                    <span class="badge bg-light rounded-pill">
                        Light
                    </span>
                    <span class="badge bg-dark rounded-pill">
                        Dark
                    </span>
                </div>

                <div class="component-code-wrapper">
                </div>

            </main>
        </div>
        <hr class="hr">

        <footer class="footer flex-row-spc-btw">
            <p>Paul Micheal</p>
            <nav class="footer-actions">
                <ul class="flex-row-center-center">
                    <li><i class="fa-brands fa-2x fa-github"></i></li>
                    <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                    <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>